.hero-image {
    background-image: url("../assets/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login-form {
    margin: 0 auto;
    max-width: 400px;
  }
  .secondary-action {
    padding: 1rem 0;
}

.link {
    font-weight: 700;
    text-decoration: none;
    
}

.link:focus {
    color: #00a278;
    
}

.link:active {
    color: #45c09f;
}

.link:visited {
    color: #45c09f;
    
}
